<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <meta charset="UTF-8">
    <title>Gestion Employés</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="flex justify-center">
        <div class="flex flex-col mt-32 bg-base-200 rounded-xl p-6 {% block card_size %}w-3xl{% endblock %}">
            {% if user.is_authenticated %}
            <div class="flex justify-end mb-4">
                <span class="mr-2 self-center">Connecté en tant que {{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-error">Déconnexion</button>
                </form>
            </div>
            {% endif %}
            <div class="w-full h-fit">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>