{% extends 'employe/base.html' %}
{% block card_size %}w-md h-80{% endblock %}
{% block content %}
<div class="flex flex-col items-center">
    <h1 class="text-2xl font-bold mb-6">Connexion</h1>
    <form action="" method="post" class="flex flex-col items-center space-y-4 w-full max-w-xs">
        {% csrf_token %}

        {% if form.errors %}
        <p class="text-error text-sm">Nom d'utilisateur ou mot de passe incorrect.</p>
        {% endif %}

                {{ form.username }}
                {{ form.password }}

            <button type="submit" class="btn btn-primary w-full mt-4">Se connecter</button>
    </form>
</div>
{% endblock %}